{% extends "base.html" %}
{% block content %}
    <div>
        <div>
            <legend>Sign in</legend>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    <div>
                        {% for error in errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% if form.errors %}
                <div>
                    {% for field, error in form.errors.items() %}
                        {% for e in error %}
                            {{ e }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="/auth/login" accept-charset="UTF-8" role="form" class="form-signin">
                {{ form.csrf_token }}
                {{ form.email }}
                {{ form.password }}
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-fw fa-check"></i>
                    Login
                </button>
            </form>
        </div>
    </div>
{% endblock %}