mock
Babel
cssmin
eventlet
Flask
Flask-Assets
Flask-Babel
Flask-Compress
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
greenlet
itsdangerous
Jinja2
jsmin
MarkupSafe
pyparsing
python-engineio
python-socketio
pytz
six
speaklater
SQLAlchemy
webassets
Werkzeug
WTForms
