/* enforce vertical scrollbar */
body {
    overflow-y: scroll;
}

label {
    cursor: pointer;
}

/* flags */
.flag {
    width: 16px;
    height: 11px;
    background: url(/static/img/flags.png) no-repeat
}

.flag.flag-de {
    background-position: -16px 0
}

.flag.flag-us {
    background-position: 0 -11px
}

/* fix for bootstrap's .form-control-feedback not being displayed correctly with font-awesome fonts */
.form-control-feedback.fa {
    line-height: 34px !important;
}

/* helper class below */
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}