<!DOCTYPE html>
<html lang="{{ get_locale }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>

    <title>{% if title is defined %}{{ title }}{% else %}pyEncode{% endif %}</title>

    {% assets (css_name if css_name else "base.css") %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets (js_name if js_name else "base.js") %}
        <script src="{{ ASSET_URL }}" async></script>
    {% endassets %}
</head>
<body>
<nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("mod_index.index") }}">
                <i class="fa fa-fw fa-file-video-o"></i> pyEncode
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_anonymous %}
                    <li{% if request.path == url_for("mod_auth.login") %} class="active"{% endif %}>
                        <a href="{{ url_for("mod_auth.login") }}">
                            <i class="fa fa-fw fa-unlock"></i> {{ _("Login") }}
                        </a>
                    </li>
                {% else %}
                    <li{% if request.path == url_for("mod_index.index") %} class="active"{% endif %}>
                        <a href="{{ url_for("mod_index.index") }}">
                            <i class="fa fa-fw fa-eye"></i> {{ _("Overview") }}
                        </a>
                    </li>
                    <li{% if request.path == url_for("mod_list.show", which="queue") %} class="active"{% endif %}>
                        <a href="{{ url_for("mod_list.show", which="queue") }}">
                            <i class="fa fa-fw fa-inbox"></i> {{ _("Packages") }}
                        </a>
                    </li>
                    <li{% if request.path == url_for("mod_list.show", which="collector") %} class="active"{% endif %}>
                        <a href="{{ url_for("mod_list.show", which="collector") }}">
                            <i class="fa fa-fw fa-shopping-cart"></i> {{ _("Collector") }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-language"></i> {{ _("Language") }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li{{ ' class="active"'|safe if get_locale == 'de' else '' }}>
                            <a href="{# url_for("set_language", language="de") #}">
                                <i class="fa flag flag-de"></i> {{ _("German") }}
                            </a>
                        </li>
                        <li{{ ' class="active"'|safe if get_locale == "en" else "" }}>
                            <a href="{# url_for("set_language", language="en") #}">
                                <i class="fa flag flag-us"></i> {{ _("English") }}
                            </a>
                        </li>
                    </ul>
                </li>
                {% if not current_user.is_anonymous %}
                    {#
                    <li{% if request.path == url_for("settings_page") %} class="active"{% endif %}>
                        <a href="{{ url_for("settings_page") }}">
                            <i class="fa fa-fw fa-cogs"></i> {{ _("Settings") }}
                        </a>
                    </li>
                    <li{% if request.path == url_for("log_page") %} class="active"{% endif %}>
                        <a href="{{ url_for("log_page") }}">
                            <i class="fa fa-fw fa-file-text-o"></i> {{ _("Log") }}
                        </a>
                    </li>
                    #}
                    <li>
                        <a href="{{ url_for("mod_auth.logout") }}">
                            <i class="fa fa-fw fa-lock"></i> {{ _("Logout") }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% if not current_user.is_anonymous %}
    <div class="navbar navbar-fixed-bottom navbar-default" role="navigation">
        <div class="container">
            <div style="margin: 15px 0 15px 15px;">
                <div class="btn-toolbar">
                    <div class="btn-group text-center">
                        <button class="btn btn-default btn-sm" disabled>
                            <span id="count-processes-active" title="{{ _("Active") }}">{{ count_processes_active() }}</span> / <span id="count-processes-queued" title="{{ _("Queued") }}">{{ count_processes_queued() }}</span> / <span id="count-processes-total" title="{{ _("Total") }}">{{ count_processes_total() }}</span>
                        </button>
                        <button class="btn btn-{% if not encoding_active() %}danger{% else %}success{% endif %} btn-sm control" id="toggle-status-btn">
                            <i class="fa fa-info"></i>&nbsp;
                            <span class="{% if not encoding_active() %}hidden{% endif %}" data-which="1">{{ _("Activated") }}</span>
                            <span class="{% if encoding_active() %}hidden{% endif %}" data-which="0">{{ _("Deactivated") }}</span>
                        </button>
                    </div>
                    <div class="btn-group text-center">
                        <button id="add-package-btn" class="btn btn-primary btn-sm">
                            <i class="fa fa-film"></i> <span>&nbsp;{{ _("Add Package") }}</span>
                        </button>
                    </div>
                    <div class="btn-group text-center">
                        <button class="btn btn-info btn-sm">
                            <i class="fa fa-ban"></i> <span>{{ _("Cancel current processes") }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>